<div class="col-12 col-lg-6 order-lg-2">
    <div class="row">
        <div class="col-12 col-sm-6">
            <nav class="nav flex-column">
                <a class="nav-link" href="#">A propos de Marcel Séjour</a>
                <a class="nav-link" href="#">Conditions générales de vente</a>
                <a class="nav-link" href="#">Vie Privée</a>
                <a class="nav-link" href="{{ path('sylius_shop_contact_request') }}">Nous contacter</a>
            </nav>
        </div>

        <div class="col-12 col-sm-6">
            <nav class="nav flex-column mb-5">
                <a class="nav-link" href="#">FAQ</a>
                <a class="nav-link" href="#">Expéditions</a>
                <a class="nav-link" href="#">Politique de retour</a>
            </nav>
        </div>
    </div>
</div>
