<div class="mb-5">
    <h1 class="h2">{{ 'sylius.ui.contact_us'|trans }}</h1>
     <h2 class="h2">Adresse de L'Atelier</h1>
     <p> L'Atelier </p>
     <p> 7 bd de la gare </p>
     <p> 22600 LOUDEAC </p>
      <p> 0644197218 </p>
    {{ 'sylius.ui.use_the_contact_form_below_to_send_us_a_message'|trans }}
</div>
