<div class="col d-flex align-items-center">
    <a href="{{ path('sylius_shop_homepage') }}" class="d-inline-block py-lg-2 me-3" style="width: 10rem" aria-label="sylius logo">
        {% hook 'logo' %}
    </a>
    <h1 class="mb-0">La Boutique de Marcel Séjour</h1>
</div>