// Variables personnalisées (si nécessaires)
$primary-color: #afd9f1;

// Classes personnalisées ou pour écraser les styles existants
// body {
//     background-color: $primary-color;
// }

// .sylius-product {
//     font-size: 1.2rem;
//     color: darken($primary-color, 10%);
// }

.border-bottom {
    background-color: $primary-color;
}

.border-top {
    background-color: $primary-color;
}